[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
azure-ai-inference = "*"
python-dotenv = "*"
openai = "*"
requests = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.12"
